# Charting the course for Maji Ndogo's water future

### Introduction

In this final part of the project, we complete our data analysis using the full suite of SQL tools. Our goal is to extract final insights, categorize Maji Ndogo's water sources, and prepare essential data for the engineering teams at Maji Ndogo.

# Connecting to our MySQL database

In [1]:
# Load the SQL Extension

%load_ext sql

In [2]:
# Establish a connection to the local database 

%sql mysql+pymysql://root:1234567@localhost:3306/md_water_services

'Connected: root@md_water_services'

# Entity Relationship Diagram

![ERD](exploration/assets/updated_md_water_services_erd.png)

# Bringing It All Together

There’s still some analysis to finalize, followed by creating a table to help Maji Ndogo's engineers monitor their progress. Let’s start with the final steps of the analysis. It might be tempting to combine all columns from all tables into one table for analysis, but with a database of this scale, doing so would likely cause performance issues.

We could spend a minute thinking about the questions we still have, and create queries to answer them, specifically. Doing this means that we will only use the data we need to answer our question. Let's summarise the data we need, and where to find it:

- All of the information about the location of a water source is in the `location` table, specifically the town and province of that water source.
- `water_source` has the `type_of_source` and the `number_of_people_served` by each source.
- `visits` has queue information, and connects `source_id` to `location_id`. There were multiple visits to sites, so we need to be careful not to include duplicate data (visit_count > 1).
- `well_pollution` has information about the quality of water from only wells, so we need to keep that in mind when we join this table.

> **NOTE**: Previously, we couldn't link provinces and towns to the type of water sources, the number of people served by those sources, queue times, or pollution data, but we can now. So, what type of relationships can we look at?

Here are some things to think about:

1. Are there any specific provinces, or towns where some sources are more abundant?
2. We identified that `tap_in_home_broken` taps are easy wins. Are there any towns where this is a particular problem?

To answer question 1, we will need `province_name` and `town_name` from the `location` table. We also need to know `type_of_water_source` and `number_of_people_served` from the `water_source` table.

The problem is that the `location` table uses `location_id` while `water_source` only has `source_id`. So we won't be able to join these tables directly. But the `visits` table maps `location_id` and `source_id`. So if we use `visits` as the table we query from, we can join `location` where the `location_id` matches, and `water_source` where the `source_id` matches.

We need to assemble data into a table first before we can analyse it. This approach will streamline our analysis and make it much easier!

In [7]:
%%sql
# This table assembles data from different tables into one to simplify analysis
SELECT
    l.province_name,
    l.town_name,
    ws.type_of_water_source,
    l.location_type,
    ws.number_of_people_served,
    v.time_in_queue,
    wp.results
FROM
    visits AS v
LEFT JOIN
    well_pollution AS wp
    ON wp.source_id = v.source_id
JOIN
    location AS l
    ON v.location_id = l.location_id
JOIN
    water_source AS ws
    ON ws.source_id = v.source_id
WHERE 
    v.visit_count = 1
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('Sokoto', 'Ilanga', 'river', 'Urban', 402, 15, None),
 ('Kilimani', 'Rural', 'well', 'Rural', 252, 0, 'Contaminated: Biological'),
 ('Hawassa', 'Rural', 'shared_tap', 'Rural', 542, 62, None),
 ('Akatsi', 'Lusaka', 'well', 'Urban', 210, 0, 'Contaminated: Biological'),
 ('Akatsi', 'Rural', 'shared_tap', 'Rural', 2598, 28, None),
 ('Kilimani', 'Rural', 'river', 'Rural', 862, 9, None),
 ('Akatsi', 'Rural', 'tap_in_home_broken', 'Rural', 496, 0, None),
 ('Kilimani', 'Rural', 'tap_in_home', 'Rural', 562, 0, None),
 ('Hawassa', 'Zanzibar', 'well', 'Urban', 308, 0, 'Contaminated: Chemical'),
 ('Amanzi', 'Dahabu', 'tap_in_home', 'Urban', 556, 0, None)]

The table generated from our query results above includes the data necessary for our analysis. We want to analyse the data in this result set. We have the option to create a CTE and query it, but in this instance, we will create a VIEW instead. We will name it `combined_analysis_table`.

In [4]:
%%sql
CREATE VIEW combined_analysis_table AS
# This view assembles data from different tables into one to simplify analysis
SELECT
    l.province_name,
    l.town_name,
    ws.type_of_water_source AS source_type,
    l.location_type,
    ws.number_of_people_served AS people_served,
    v.time_in_queue,
    wp.results
FROM
    visits AS v
LEFT JOIN
    well_pollution AS wp
    ON wp.source_id = v.source_id
JOIN
    location AS l
    ON v.location_id = l.location_id
JOIN
    water_source AS ws
    ON ws.source_id = v.source_id
WHERE 
    v.visit_count = 1;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

This view creates a "table" that pulls all of the important information from different tables into one. You may notice our query is starting to slow down due to the multiple steps involved and the processing of 60,000 rows of data.

# The Final Analysis

Let's create another pivot table! This time, we'll categorize our data by provinces or towns and source types to gain insights into:

1. Where the problems are
2. What we need to improve at those locations

This analysis will enable us to make informed decisions about where to dispatch Maji Ndogo's repair teams. Now, let’s get started with the queries!

In [5]:
%%sql
# This CTE calculates the population of each province for each source
WITH province_totals AS (
    SELECT
        province_name,
        SUM(people_served) AS total_ppl_serv
    FROM
        combined_analysis_table
    GROUP BY
        province_name
)
SELECT
    ct.province_name,
    ROUND(SUM(
        CASE 
            WHEN source_type = "river" 
            THEN people_served ELSE 0
        END) * 100.0 / pt.total_ppl_serv) AS river,
    ROUND(SUM(
        CASE 
            WHEN source_type = "shared_tap" 
            THEN people_served ELSE 0 
        END) * 100.0 / pt.total_ppl_serv) AS shared_tap,
    ROUND(SUM(
        CASE 
            WHEN source_type = "tap_in_home" 
            THEN people_served ELSE 0 
        END) * 100.0 / pt.total_ppl_serv) AS tap_in_home,
    ROUND(SUM(
        CASE 
            WHEN source_type = "tap_in_home_broken" 
            THEN people_served ELSE 0 
        END) * 100.0 / pt.total_ppl_serv) AS tap_in_home_broken,
    ROUND(SUM(
        CASE 
            WHEN source_type = "well" 
            THEN people_served ELSE 0 
        END) * 100.0 / pt.total_ppl_serv) AS well
FROM
    combined_analysis_table AS ct
JOIN
    province_totals AS pt
    ON ct.province_name = pt.province_name
GROUP BY
    ct.province_name
ORDER BY
    ct.province_name;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('Akatsi', Decimal('5'), Decimal('49'), Decimal('14'), Decimal('10'), Decimal('23')),
 ('Amanzi', Decimal('3'), Decimal('38'), Decimal('28'), Decimal('24'), Decimal('7')),
 ('Hawassa', Decimal('4'), Decimal('43'), Decimal('15'), Decimal('15'), Decimal('24')),
 ('Kilimani', Decimal('8'), Decimal('47'), Decimal('13'), Decimal('12'), Decimal('20')),
 ('Sokoto', Decimal('21'), Decimal('38'), Decimal('16'), Decimal('10'), Decimal('15'))]

Here are some patterns emerging from our created pivot table:

- Look at the river column, Sokoto has the largest population of people drinking river water. Maji Ndogo should send their drilling equipment to Sokoto first, so people can drink safe filtered water from a well.
- The majority of water from Amanzi comes from taps, but half of these home taps don't work because the infrastructure is broken. Maji Ndogo needs to send out their engineering teams to look at the infrastructure in Amanzi first. Fixing a large pump, treatment plant or reservoir means that thousands of people will have running water. This means they will also not have to queue for water, hence they stand to improve two things at once.

I created an additional graph to help visualize the patterns ↓

![Water Sources](exploration/assets/water_sources.png)

Awesome! Let's proceed to aggregate the data by town. Remember that there are two towns named Harare in Maji Ndogo: one is located in Akatsi, and the other is in Kilimani. Amina is another example. So when we aggregate solely by town, SQL does not differentiate between the different Harare locations, leading to combined results. To get around that, we need to first group by province and then by town. This way, the duplicate town names will be distinct because they belong to different provinces.

In [8]:
%%sql
# Since there are two Harare towns, we have to group by province_name and town_name
WITH town_totals AS (
    SELECT province_name, town_name, SUM(people_served) AS total_ppl_serv
    FROM combined_analysis_table
    GROUP BY province_name,town_name
)
SELECT
    ct.province_name,
    ct.town_name,
    ROUND((SUM(CASE WHEN source_type = 'river'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS river,
    ROUND((SUM(CASE WHEN source_type = 'shared_tap'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS shared_tap,
    ROUND((SUM(CASE WHEN source_type = 'tap_in_home'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN source_type = 'tap_in_home_broken'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE WHEN source_type = 'well'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS well
FROM
    combined_analysis_table AS ct
JOIN 
    town_totals AS tt ON ct.province_name = tt.province_name AND ct.town_name = tt.town_name
GROUP BY 
    ct.province_name,
    ct.town_name
ORDER BY
    ct.town_name
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('Amanzi', 'Abidjan', Decimal('2'), Decimal('53'), Decimal('22'), Decimal('19'), Decimal('4')),
 ('Kilimani', 'Amara', Decimal('8'), Decimal('22'), Decimal('25'), Decimal('16'), Decimal('30')),
 ('Amanzi', 'Amina', Decimal('8'), Decimal('24'), Decimal('3'), Decimal('56'), Decimal('9')),
 ('Hawassa', 'Amina', Decimal('2'), Decimal('14'), Decimal('19'), Decimal('24'), Decimal('42')),
 ('Amanzi', 'Asmara', Decimal('3'), Decimal('49'), Decimal('24'), Decimal('20'), Decimal('4')),
 ('Sokoto', 'Bahari', Decimal('21'), Decimal('11'), Decimal('36'), Decimal('12'), Decimal('20')),
 ('Amanzi', 'Bello', Decimal('3'), Decimal('53'), Decimal('20'), Decimal('22'), Decimal('3')),
 ('Sokoto', 'Cheche', Decimal('19'), Decimal('16'), Decimal('35'), Decimal('12'), Decimal('18')),
 ('Amanzi', 'Dahabu', Decimal('3'), Decimal('37'), Decimal('55'), Decimal('1'), Decimal('4')),
 ('Hawassa', 'Deka', Decimal('3'), Decimal('16'), Decimal('23'), Decimal('21'), Decimal('38'))]

his query may take a while to calculate. Before diving into the data, let’s create a temporary table to enable quicker access. Temporary tables in SQL provide a convenient way to store the results of complex queries. By executing the query once, we save the results as a table. The catch? If you close the database connection, the table will be deleted, requiring you to rerun the query each time you start working in MySQL. The advantage is that we can use this temporary table for further calculations without running the whole query each time.

In [10]:
''' %%sql
# create temporary table from above query
CREATE TEMPORARY TABLE town_aggregated_water_access
WITH town_totals AS (
	SELECT province_name, town_name, SUM(people_served) AS total_ppl_serv
	FROM combined_analysis_table
	GROUP BY province_name,town_name
)
SELECT
	ct.province_name,
	ct.town_name,
	ROUND((SUM(CASE WHEN source_type = 'river'
		THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS river,
	ROUND((SUM(CASE WHEN source_type = 'shared_tap'
		THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS shared_tap,
	ROUND((SUM(CASE WHEN source_type = 'tap_in_home'
		THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home,
	ROUND((SUM(CASE WHEN source_type = 'tap_in_home_broken'
		THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home_broken,
	ROUND((SUM(CASE WHEN source_type = 'well'
		THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS well
FROM
	combined_analysis_table AS ct
JOIN 
	town_totals AS tt ON ct.province_name = tt.province_name AND ct.town_name = tt.town_name
GROUP BY 
	ct.province_name,
	ct.town_name
ORDER BY
	ct.town_name; '''

 * mysql+pymysql://root:***@localhost:3306/md_water_services
31 rows affected.

[]

Let's order the results set by each column. If we order river in DESC it confirms what we saw on a provincial level: people in Sokoto are consuming river water.

In [11]:
%%sql
# Order the aggregated town access by river in descending order
SELECT
    province_name,
    town_name,
    river,
    shared_tap,
    tap_in_home,
    tap_in_home_broken
FROM
    town_aggregated_water_access
ORDER BY 
    river DESC;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
31 rows affected.

[('Sokoto', 'Rural', Decimal('22'), Decimal('49'), Decimal('8'), Decimal('8')),
 ('Sokoto', 'Bahari', Decimal('21'), Decimal('11'), Decimal('36'), Decimal('12')),
 ('Sokoto', 'Kofi', Decimal('20'), Decimal('16'), Decimal('34'), Decimal('10')),
 ('Sokoto', 'Cheche', Decimal('19'), Decimal('16'), Decimal('35'), Decimal('12')),
 ('Sokoto', 'Majengo', Decimal('18'), Decimal('14'), Decimal('36'), Decimal('12')),
 ('Sokoto', 'Marang', Decimal('17'), Decimal('19'), Decimal('31'), Decimal('13')),
 ('Sokoto', 'Ilanga', Decimal('16'), Decimal('12'), Decimal('36'), Decimal('15')),
 ('Kilimani', 'Rural', Decimal('9'), Decimal('55'), Decimal('8'), Decimal('9')),
 ('Kilimani', 'Amara', Decimal('8'), Decimal('22'), Decimal('25'), Decimal('16')),
 ('Amanzi', 'Amina', Decimal('8'), Decimal('24'), Decimal('3'), Decimal('56')),
 ('Kilimani', 'Zuri', Decimal('8'), Decimal('71'), Decimal('6'), Decimal('11')),
 ('Kilimani', 'Harare', Decimal('7'), Decimal('11'), Decimal('30'), Decimal('20')),
 ('Kilimani', 'Isiqalo', Decimal('7'), Decimal('19'), Decimal('25'), Decimal('18')),
 ('Kilimani', 'Mrembo', Decimal('7'), Decimal('16'), Decimal('25'), Decimal('21')),
 ('Akatsi', 'Rural', Decimal('6'), Decimal('59'), Decimal('9'), Decimal('5')),
 ('Hawassa', 'Serowe', Decimal('6'), Decimal('14'), Decimal('23'), Decimal('23')),
 ('Hawassa', 'Rural', Decimal('4'), Decimal('52'), Decimal('12'), Decimal('12')),
 ('Amanzi', 'Asmara', Decimal('3'), Decimal('49'), Decimal('24'), Decimal('20')),
 ('Amanzi', 'Bello', Decimal('3'), Decimal('53'), Decimal('20'), Decimal('22')),
 ('Amanzi', 'Dahabu', Decimal('3'), Decimal('37'), Decimal('55'), Decimal('1')),
 ('Hawassa', 'Deka', Decimal('3'), Decimal('16'), Decimal('23'), Decimal('21')),
 ('Hawassa', 'Djenne', Decimal('3'), Decimal('18'), Decimal('19'), Decimal('23')),
 ('Amanzi', 'Pwani', Decimal('3'), Decimal('53'), Decimal('20'), Decimal('21')),
 ('Amanzi', 'Rural', Decimal('3'), Decimal('27'), Decimal('30'), Decimal('30')),
 ('Amanzi', 'Abidjan', Decimal('2'), Decimal('53'), Decimal('22'), Decimal('19')),
 ('Hawassa', 'Amina', Decimal('2'), Decimal('14'), Decimal('19'), Decimal('24')),
 ('Akatsi', 'Harare', Decimal('2'), Decimal('17'), Decimal('28'), Decimal('27')),
 ('Akatsi', 'Kintampo', Decimal('2'), Decimal('15'), Decimal('31'), Decimal('26')),
 ('Akatsi', 'Lusaka', Decimal('2'), Decimal('17'), Decimal('28'), Decimal('28')),
 ('Hawassa', 'Yaounde', Decimal('2'), Decimal('14'), Decimal('22'), Decimal('23')),
 ('Hawassa', 'Zanzibar', Decimal('0'), Decimal('22'), Decimal('22'), Decimal('17'))]

But look at the `tap_in_home` percentages in Sokoto too. Some of Maji Ndogo's citizens are forced to drink unsafe water from a river, while a lot of people have running water in their homes in Sokoto. Large disparities in water access like this show that the wealth distribution in Sokoto very unequal. We should mention this in Maji Ndogo's report. Maji Ndogo should also send their drilling teams to Sokoto first to drill some wells for the people who are drinking river water, specifically the rural parts and the city of Bahari.

Next, let's sort the data by `province_name` and look at the data for Amina in Amanzi. Here only 3% of Amina's citizens have access to running tap water in their homes. More than half of the people in Amina have taps installed in their homes, but they are not working. Maji Ndogo should send out their teams to go and fix the infrastructure in Amina first. Fixing taps in people's homes, means those people don't have to queue for water anymore making queues in Amina shorter!

There are still many hidden gems and valuable insights to uncover in this table. For instance, which town has the highest ratio of residents who have taps, but have no running water? Run the following query ↓

In [14]:
%%sql
# Which town has the highest ratio of people who have taps, but have no running water?
SELECT
    province_name,
    town_name,
    ROUND(tap_in_home_broken / (tap_in_home_broken + tap_in_home) *100,0) AS Pct_broken_taps
FROM
    town_aggregated_water_access
WHERE province_name = "Amanzi"
ORDER BY pct_broken_taps DESC;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
7 rows affected.

[('Amanzi', 'Amina', Decimal('95')),
 ('Amanzi', 'Bello', Decimal('52')),
 ('Amanzi', 'Pwani', Decimal('51')),
 ('Amanzi', 'Rural', Decimal('50')),
 ('Amanzi', 'Abidjan', Decimal('46')),
 ('Amanzi', 'Asmara', Decimal('45')),
 ('Amanzi', 'Dahabu', Decimal('2'))]

We can see that Amina has infrastructure installed, but almost none of it is working, and only the capital city, Dahabu's water infrastructure works.
Strangely enough, all of the politicians of the past government lived in Dahabu, so they made sure they had water.

It would be so nice to visualize this data, right? But because there are so many sources, and so many towns, it is hard to explain this visually without some better tools. Imagine we could have a graph where we do this kind of filtering and sorting of data in the graph!! Well, we’ll be focusing on creating something like that in our next project!

# Summary Report

### Insights

Ok, so let's sum up the data we have. Here are a couple of interesting insights:

1. Most water sources are rural in Maji Ndogo.
2. **43%** of Maji Ndogo's people are using shared taps. **2000** people often share one tap.
3. **31%** of Maji Ndogo's population has water infrastructure in their homes, but within that group, **45%** face non-functional systems due to issues with pipes, pumps, and reservoirs. Towns like Amina, the rural parts of Amanzi, and a couple of towns across Akatsi and Hawassa have broken infrastructure.
4. **18%** of Maji Ndogo's people are using wells of which, but within that, only **28%** are clean. These are mostly in Hawassa, Kilimani and Akatsi.
5. Maji Ndogo's citizens often face long wait times for water, averaging more than **120 minutes**: 
    - Queues are very long on Saturdays. 
    - Queues are longer in the mornings and evenings. 
    - Wednesdays and Sundays have the shortest queues.

# A Practical Plan

Our final goal is to implement our plan within the database. We have a plan to improve the water access in Maji Ndogo, so we must carefully consider our approach. As our final task, we will create a table that provides Maji Ndogo's teams with the necessary information to address, upgrade, and repair water sources. This table will include the addresses of locations they need to visit (street address, town, province), the type of water source that requires improvement, and

Additionally, we should allocate space in the database for them to report on their progress. We need to track whether the repairs are complete, the completion date, and provide a space for them to update the status of the water sources. We will name this table `Project_progress`.

In [15]:
''' %%sql
# Create a table to keep track of engineers' progress
CREATE TABLE Project_progress (
	Project_id SERIAL PRIMARY KEY,
	source_id VARCHAR(20) NOT NULL REFERENCES water_source(source_id) ON DELETE CASCADE ON UPDATE CASCADE,
	Address VARCHAR(50),
	Town VARCHAR(30),
	Province VARCHAR(30),
	Source_type VARCHAR(50),
	Improvement VARCHAR(50),
	Source_status VARCHAR(50) DEFAULT 'Backlog' CHECK (Source_status IN ('Backlog', 'In progress', 'Complete')),
	Date_of_completion DATE,
	Comments TEXT
); '''

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

At a high level, the Improvements to be implemented are as follows:

1. Rivers → Drill wells
2. wells: if the well is contaminated with chemicals → Install RO filter
3. wells: if the well is contaminated with biological contaminants → Install UV and RO filter
4. shared_taps: if the queue is longer than 30 min (30 min and above) → Install X taps nearby where X number of taps is calculated using `X = FLOOR(time_in_queue / 30)`
5. tap_in_home_broken → Diagnose local infrastructure

Remember to filter the data to only contain sources we want to improve by thinking through the logic first.

1. Only records with visit_count = 1 are allowed.
2. Any of the following rows can be included:
    - Where shared taps have queue times over 30 min.
    - Only wells that are contaminated are allowed -- So we exclude wells that are Clean
    - Include any river and tap_in_home_broken sources.

In [ ]:
''' %%sql
# Gather the required data to populate the values in the progress table.
SELECT
    location.address,
    location.town_name,
    location.province_name,
    water_source.source_id,
    water_source.type_of_water_source,
    well_pollution.results
FROM
    water_source
LEFT JOIN
    well_pollution ON water_source.source_id = well_pollution.source_id
INNER JOIN
    visits ON water_source.source_id = visits.source_id
INNER JOIN
    location ON location.location_id = visits.location_id
WHERE visits.visit_count = 1 
AND ( 
    well_pollution.results != 'Clean'
    OR water_source.type_of_water_source IN ('tap_in_home_broken','river')
    OR (water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30)
); '''

In the `Improvement` column, perform the following updates:

1.  Set values to "Install UV filter" or "Install RO filter."
2. Add "Drill well" to the `Improvement` column for all river sources.
3. Update the `Improvement` column for shared taps that have long queue times.
4. Change values for broken taps to "Diagnose local infrastructure."

In [ ]:
''' %%sql
# Update Improvements column
SELECT
    location.address,
    location.town_name,
    location.province_name,
    water_source.source_id,
    water_source.type_of_water_source,
    well_pollution.results,
    CASE
		WHEN well_pollution.results = 'Contaminated: Biological' 
			AND water_source.type_of_water_source = 'well' THEN 'Install UV and RO filter'
		WHEN well_pollution.results = 'Contaminated: Chemical' 
			AND water_source.type_of_water_source = 'well' THEN 'Install RO filter'
        WHEN water_source.type_of_water_source = 'river' THEN 'Drill well'
        WHEN water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30 THEN
			CONCAT("Install ", FLOOR(visits.time_in_queue / 30), " taps nearby")
        WHEN water_source.type_of_water_source = 'tap_in_home_broken' THEN 'Diagnose local infrastructure'
		ELSE NULL
	END AS Improvement
FROM
    water_source
LEFT JOIN
    well_pollution ON water_source.source_id = well_pollution.source_id
INNER JOIN
    visits ON water_source.source_id = visits.source_id
INNER JOIN
    location ON location.location_id = visits.location_id
WHERE visits.visit_count = 1 
AND ( 
    well_pollution.results != 'Clean'
    OR water_source.type_of_water_source IN ('tap_in_home_broken','river')
    OR (water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30)
); '''

Now, populate the `Project_progress` table with the results of the above query

In [24]:
''' %%sql
# Populate Project_progress table with the results of our query
INSERT INTO Project_progress (source_id, Address, Town, Province, Source_type, Improvement)
SELECT
	water_source.source_id,
	location.address,
	location.town_name,
	location.province_name,
	water_source.type_of_water_source,
	CASE
		WHEN well_pollution.results = 'Contaminated: Biological' 
			AND water_source.type_of_water_source = 'well' THEN 'Install UV and RO filter'
		WHEN well_pollution.results = 'Contaminated: Chemical' 
			AND water_source.type_of_water_source = 'well' THEN 'Install RO filter'
		WHEN water_source.type_of_water_source = 'river' THEN 'Drill well'
        WHEN water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30 THEN
			CONCAT("Install ", FLOOR(visits.time_in_queue / 30), " taps nearby")
		WHEN water_source.type_of_water_source = 'tap_in_home_broken' THEN 'Diagnose local infrastructure'
		ELSE NULL
	END AS Improvement
FROM
	water_source
LEFT JOIN
	well_pollution ON water_source.source_id = well_pollution.source_id
INNER JOIN
	visits ON water_source.source_id = visits.source_id
INNER JOIN
	location ON location.location_id = visits.location_id
WHERE visits.visit_count = 1 
AND ( 
	well_pollution.results != 'Clean'
	OR water_source.type_of_water_source IN ('tap_in_home_broken','river')
	OR (water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30)
); '''

 * mysql+pymysql://root:***@localhost:3306/md_water_services
25398 rows affected.

[]

There we go, all done! Now we send off our summary reports and plans to action to the relevant stakeholders with our main findings, so they can start organising the teams.